.header__lang-link {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    color: #fff;
}


.header__lang-link:hover {
    transition: opacity 1s linear;
    opacity: 0.4;
}

@media screen and (max-width: 568px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
    }
}