.places__place-paragraph {
    max-width: 484px;
    font-size: 18px;
    line-height: 1.63;
    font-weight: 400;
    color: #fff;
    margin: 0 0 26px;
    grid-area: paragraph;
}

.places__place-paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1140px) {
    .places__place-paragraph {
        max-width: 456px;

    }
}

@media screen and (max-width: 984px) {
    .places__place-paragraph {
        max-width: 352px;
        font-size: 16px;
        margin: 0 0 25px;

    }
}

@media screen and (max-width: 568px) {
    .places__place-paragraph {
        max-width: 288px;
        padding: 0 16px;
    }
}



