.page {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2A2C2F;
}

