.photo-grid {
    display: grid;
    max-width: 1184px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin: 0 auto;
    gap: 16px 16px;
    padding: 0;
}

.photo-grid > ul {
    list-style: none;
}

@media screen and (max-width: 1200px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px 14px;
    }
}

@media screen and (max-width: 990px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px 16px;
    }
}

@media screen and (max-width: 600px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px 12px;
    }
}