.places__place-title {
    max-width: 460px;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    margin: 0;
    color: #fff;
    grid-area: title;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .places__place-title {
        max-width: 440px;
        font-size: 72px;
        line-height: 1.06;
    }
}

@media screen and (max-width: 984px) {
    .places__place-title {
        max-width: 340px;
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 568px) {
    .places__place-title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
        padding: 0 16px;
    }
}