.lead__title {
    max-width: 720px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #fff;
    margin: 0 0 32px;
}

@media screen and (max-width: 568px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
        margin: 0 0 16px;
    }
}