.footer__links {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    justify-items: start;
    column-gap: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-area: links;
}

@media screen and (max-width: 568px) {
    .footer__links {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        grid-template-rows: repeat(5, minmax(min-content, max-content));
        gap: 32px 0;
    }
}
