.intro {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 442px 0 148px;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .intro {
        padding: 0 286px 0 48px;
    }
}

@media screen and (max-width: 984px) {
    .intro {
        padding: 0 24px;
    }
}

@media screen and (max-width: 568px) {
    .intro {
        padding: 0 16px;
    }
}