.places__place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 48px 40px;
    grid-template-areas: 
    "title URL"
    "image paragraph";
}

@media screen and (max-width: 1140px) {
    .places__place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 984px) {
    .places__place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 646px) {
    .places__place {
        grid-template-columns: 320px;
        gap: 32px 0;
        grid-template-areas: 
        "title" 
        "URL"
        "image" 
        "paragraph";
    }
}