.header__lang-links {
    display: flex;
    list-style: none;
    place-self: end end;
    padding-bottom: 6px;
    padding-left: 0;
}

.header__lang-links > li:first-child {
    padding-right: 18px;
}
