.cover__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 740px;
    text-decoration: none;
    background-image: url('../../../images/train-trails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    z-index: 0;
}

.cover__item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
}

.cover__item:hover::before {
    transition: opacity 0.4s ease-in;
    opacity: .8;
}

@media screen and (max-width: 1140px) {
    .cover__item {
        min-height: 640px;
    }
}

@media screen and (max-width: 984px) {
    .cover__item {
        min-height: 480px;
    }
}

@media screen and (max-width: 568px) {
    .cover__item {
        min-height: 200px;
    }
}